body{
    background-color: #02050a;
    color: white;
    overflow-x: hidden;
}

/* #09101a */

.seimg{
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-image: url("./image/banner.jpg");
}


.carousel-item-padding-10 {
    padding: 0 10px; 
    
}

.navbar{
    transition: 0.5s;
}

.movenav{
    right: 0;
}

@media (max-width:1280px){
    .secte{
        flex-direction: column;
    }

    .nav{
        display: none;
    }

    .list{
        display: block;
    }
   
    .wfull{
        width: 100%;
    }
}